<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>арсенал</string>
		<key>icon</key>
		<string>Arsenal</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>н</string>
			<string>с</string>
			<string>е</string>
			<string>п</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>ь</string>
			<string>ш</string>
			<string>с</string>
			<string>е</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>е</string>
			<string>к</string>
			<string>н</string>
			<string>е</string>
			<string>а</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>астон вилла</string>
		<key>icon</key>
		<string>AstonVilla</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>ш</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>а</string>
			<string>в</string>
			<string>н</string>
			<string>е</string>
			<string>л</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>бирмингем</string>
		<key>icon</key>
		<string>Birming</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>и</string>
			<string>м</string>
			<string>a</string>
			<string>е</string>
			<string>т</string>
			<string>р</string>
			<string>ь</string>
			<string>г</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>м</string>
			<string>б</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>blackburn rovers</string>
		<key>icon</key>
		<string>Blackburn</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>cardiff city</string>
		<key>icon</key>
		<string>Cardiff</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>bolton wanderers</string>
		<key>icon</key>
		<string>Bolton</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>bristol city</string>
		<key>icon</key>
		<string>Bristol</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>charlton athletic</string>
		<key>icon</key>
		<string>Charlton</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>chelsea</string>
		<key>icon</key>
		<string>Chelsea</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>crystal palace</string>
		<key>icon</key>
		<string>CP</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>derby county</string>
		<key>icon</key>
		<string>Derby</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>everton</string>
		<key>icon</key>
		<string>Everton</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>nottigham forester</string>
		<key>icon</key>
		<string>Forest</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>fulham</string>
		<key>icon</key>
		<string>Fulham</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>hull city</string>
		<key>icon</key>
		<string>Hull</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>leeds united</string>
		<key>icon</key>
		<string>Leeds</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>liecester city</string>
		<key>icon</key>
		<string>Liecester</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>liverpool</string>
		<key>icon</key>
		<string>Liverpool</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>munchester city</string>
		<key>icon</key>
		<string>MunC</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>munchester united</string>
		<key>icon</key>
		<string>MunU</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>middlesbrough</string>
		<key>icon</key>
		<string>MunC</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>newcastle united</string>
		<key>icon</key>
		<string>Newcastle</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>norwich city</string>
		<key>icon</key>
		<string>Norwich</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>portsmouht</string>
		<key>icon</key>
		<string>Portsmouht</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>reading</string>
		<key>icon</key>
		<string>Reading</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>sheffield united</string>
		<key>icon</key>
		<string>sheffield</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>southampton</string>
		<key>icon</key>
		<string>Southampton</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>stoke city</string>
		<key>icon</key>
		<string>Stoke</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>tottenham hotspur</string>
		<key>icon</key>
		<string>TT</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>watford</string>
		<key>icon</key>
		<string>Watford</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>west bromwich</string>
		<key>icon</key>
		<string>WestBrom</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>west ham</string>
		<key>icon</key>
		<string>WesthHam</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>wigan</string>
		<key>icon</key>
		<string>Wigan Athletic</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>a</string>
			<string>t</string>
			<string>a</string>
			<string>u</string>
			<string>r</string>
			<string>e</string>
			<string>m</string>
			<string>s</string>
			<string>x</string>
			<string>o</string>
			<string>t</string>
			<string>n</string>
			<string>l</string>
			<string>q</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>wolverhampton wanderers</string>
		<key>icon</key>
		<string>WV</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>w</string>
			<string>o</string>
			<string>l</string>
			<string>e</string>
			<string>v</string>
			<string>r</string>
			<string>h</string>
			<string>a</string>
			<string>m</string>
			<string>t</string>
			<string>p</string>
			<string>n</string>
			<string>o</string>
			<string>w</string>
			<string>n</string>
			<string>a</string>
			<string>d</string>
			<string>e</string>
			<string>r</string>
			<string>e</string>
			<string>s</string>
		</array>
	</dict>
</array>
</plist>
