<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>аякс</string>
		<key>icon</key>
		<string>Аякс</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>я</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>п</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>ь</string>
			<string>ш</string>
			<string>с</string>
			<string>е</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>базель</string>
		<key>icon</key>
		<string>Базель</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>ь</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>б</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>ш</string>
			<string>з</string>
			<string>и</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>байер</string>
		<key>icon</key>
		<string>Байер</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>и</string>
			<string>й</string>
			<string>a</string>
			<string>е</string>
			<string>т</string>
			<string>р</string>
			<string>ь</string>
			<string>г</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>м</string>
			<string>б</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>динамо киев</string>
		<key>icon</key>
		<string>Динамо К</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>и</string>
			<string>й</string>
			<string>a</string>
			<string>е</string>
			<string>т</string>
			<string>р</string>
			<string>ь</string>
			<string>г</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>д</string>
			<string>к</string>
			<string>г</string>
			<string>а</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>м</string>
			<string>о</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>зенит</string>
		<key>icon</key>
		<string>Зенит</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>г</string>
			<string>т</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>м</string>
			<string>б</string>
			<string>г</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>з</string>
			<string>б</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>лион</string>
		<key>icon</key>
		<string>Лион</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>г</string>
			<string>т</string>
			<string>н</string>
			<string>е</string>
			<string>л</string>
			<string>м</string>
			<string>б</string>
			<string>г</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>о</string>
			<string>б</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>манчестер сити</string>
		<key>icon</key>
		<string>Манчестер сити</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>г</string>
			<string>т</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>м</string>
			<string>с</string>
			<string>с</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>з</string>
			<string>б</string>
			<string>г</string>
			<string>и</string>
			<string>н</string>
			<string>а</string>
			<string>т</string>
			<string>ч</string>
			<string>р</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>наполи</string>
		<key>icon</key>
		<string>Наполи</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>л</string>
			<string>и</string>
			<string>о</string>
			<string>е</string>
			<string>в</string>
			<string>з</string>
			<string>б</string>
			<string>а</string>
			<string>и</string>
			<string>н</string>
			<string>п</string>
			<string>в</string>
			<string>з</string>
			<string>б</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>порту</string>
		<key>icon</key>
		<string>Порту</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>р</string>
			<string>и</string>
			<string>н</string>
			<string>т</string>
			<string>в</string>
			<string>з</string>
			<string>б</string>
			<string>г</string>
			<string>о</string>
			<string>н</string>
			<string>е</string>
			<string>у</string>
			<string>з</string>
			<string>п</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>псв</string>
		<key>icon</key>
		<string>ПСВ</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>с</string>
			<string>и</string>
			<string>н</string>
			<string>е</string>
			<string>в</string>
			<string>з</string>
			<string>п</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>спартак</string>
		<key>icon</key>
		<string>Спартак</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>а</string>
			<string>и</string>
			<string>к</string>
			<string>е</string>
			<string>п</string>
			<string>з</string>
			<string>б</string>
			<string>г</string>
			<string>т</string>
			<string>с</string>
			<string>е</string>
			<string>в</string>
			<string>р</string>
			<string>а</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>спортинг</string>
		<key>icon</key>
		<string>Спортинг</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>г</string>
			<string>с</string>
			<string>т</string>
			<string>е</string>
			<string>в</string>
			<string>з</string>
			<string>б</string>
			<string>г</string>
			<string>о</string>
			<string>н</string>
			<string>и</string>
			<string>в</string>
			<string>п</string>
			<string>р</string>
		</array>
	</dict>
</array>
</plist>
