<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>арсенал</string>
		<key>icon</key>
		<string>Арсенал</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>н</string>
			<string>с</string>
			<string>е</string>
			<string>п</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>а</string>
			<string>ш</string>
			<string>с</string>
			<string>е</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>р</string>
			<string>к</string>
			<string>н</string>
			<string>е</string>
			<string>а</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>атлетико</string>
		<key>icon</key>
		<string>Атлетико М</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>ш</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>а</string>
			<string>в</string>
			<string>н</string>
			<string>т</string>
			<string>л</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>барселона</string>
		<key>icon</key>
		<string>Барселона</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>и</string>
			<string>т</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>б</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>ш</string>
			<string>с</string>
			<string>н</string>
			<string>к</string>
			<string>е</string>
			<string>р</string>
			<string>а</string>
			<string>в</string>
			<string>с</string>
			<string>а</string>
			<string>л</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>боруссия</string>
		<key>icon</key>
		<string>Боруссия Д</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>р</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>б</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>ш</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>а</string>
			<string>я</string>
			<string>у</string>
			<string>т</string>
			<string>с</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>ливерпуль</string>
		<key>icon</key>
		<string>Ливерпуль</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>в</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>ь</string>
			<string>н</string>
			<string>у</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>а</string>
			<string>в</string>
			<string>р</string>
			<string>п</string>
			<string>л</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>манчестер юнайтед</string>
		<key>icon</key>
		<string>Манчестер Юнайтед</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>м</string>
			<string>а</string>
			<string>н</string>
			<string>а</string>
			<string>ч</string>
			<string>е</string>
			<string>с</string>
			<string>р</string>
			<string>е</string>
			<string>н</string>
			<string>ю</string>
			<string>т</string>
			<string>а</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>а</string>
			<string>д</string>
			<string>н</string>
			<string>т</string>
			<string>й</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>псж</string>
		<key>icon</key>
		<string>ПСЖ</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ж</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>п</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>реал мадрид</string>
		<key>icon</key>
		<string>Реал</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>и</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>д</string>
			<string>с</string>
			<string>р</string>
			<string>к</string>
			<string>е</string>
			<string>л</string>
			<string>а</string>
			<string>м</string>
			<string>н</string>
			<string>р</string>
			<string>д</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>рома</string>
		<key>icon</key>
		<string>Рома</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>м</string>
			<string>н</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>н</string>
			<string>ш</string>
			<string>с</string>
			<string>р</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>селтик</string>
		<key>icon</key>
		<string>Селтик</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>л</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>т</string>
			<string>ш</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>челси</string>
		<key>icon</key>
		<string>Челси</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>л</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>ч</string>
			<string>ш</string>
			<string>с</string>
			<string>и</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>шахтер</string>
		<key>icon</key>
		<string>Шахтер</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>х</string>
			<string>л</string>
			<string>с</string>
			<string>а</string>
			<string>о</string>
			<string>ф</string>
			<string>л</string>
			<string>г</string>
			<string>е</string>
			<string>т</string>
			<string>ш</string>
			<string>с</string>
			<string>р</string>
			<string>к</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>ювентус</string>
		<key>icon</key>
		<string>Ювентус</string>
		<key>title</key>
		<string>football club</string>
		<key>options</key>
		<array>
			<string>т</string>
			<string>е</string>
			<string>с</string>
			<string>а</string>
			<string>в</string>
			<string>ф</string>
			<string>н</string>
			<string>г</string>
			<string>е</string>
			<string>т</string>
			<string>ю</string>
			<string>с</string>
			<string>и</string>
			<string>у</string>
		</array>
	</dict>
</array>
</plist>
